{% extends 'layout/main.html' %}
{% block content %}
<!-- about -->
{% load static %}
<div class="container" id="about">
    <h1>ABOUT US</h1>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-6 py-3 py-md-0">
            <div class="card">
                <img src="{% static 'images/about.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md-6 py-3 py-md-0">
            <p><i>RRRGoldCovering.com,</i> is an initiative from Everest Gold Covering which is a versatile Chidambaram gold plated jewelry manufacturer and retailer.<br> With over 35 years of experience, we deal with all gold plated jewelry products ranging from chains, necklaces, aarams, bangles, mangalsutra, rings, auspicious threads, thaali designs, pendant sets, hip chains, ear rings,braclets, gold and silver anklets.
            RRR gold plated traditional culutta design haaram. This calcutta design haaram  contains temple design which is giving marvelous looking. Also the bottom of the haaram contains beautiful design and gives fabulous looking.Loved by women of all age groups. This bridal chain model comes with 24 inches length. Keep it away from perfumes for longer life. It comes with 1 year guarantee.
            We are the first to introduce "Micro-plating technology", which protects the jewelry from dust and oil and gives a longer life. Plated with this latest technology, the jewels get a special coating which protects the skin from allergic.</p>
        </div>
    </div>
</div>
<!-- about -->


--

{% endblock content %}